@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('href=https://unpkg.com/aos@2.3.1/dist/aos.css');

:root {
  --orange: #ef6e12;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'poppins';
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

html::-webkit-scrollbar {
  width: 0.6rem;
}

html::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

html::-webkit-scrollbar-thumb {
  background: rgb(241, 143, 4);
}

body {
  background: #000000;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.stciky {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
  font-size: 1.7rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  animation: SlideRight 1s ease forwards;
  opacity: 0;
}

@keyframes SlideRight {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  margin-left: 4rem;
  font-size: 1.7rem;
  animation: SlideTop 0.5s ease forwards;
  opacity: 0;
  animation-delay: calc(0.2s * var(--clr));
}

@keyframes SlideTop {
  0% {
    transform: translatey(-100%);
    opacity: 0;
  }

  100% {
    transform: translatey(0);
    opacity: 1;
  }
}

.navbar a:hover {
  color: #ef6e12;
}
.navbar a.active {
  color: #ef6e12;
}

#menu {
  font-size: 3.6rem;
  display: none;
  color: #fff;
  opacity: 0;
  animation: SlideLeft 1s ease forwards;
  animation-delay: 1s;
}

@keyframes SlideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-detail h3 {
  font-size: 3.2rem;
  font-weight: 700;
  opacity: 0;
  animation: Slidebottom 0.7s ease forwards;
  animation-delay: 0.7s;
}

@keyframes Slidebottom {
  0% {
    transform: translatey(-100%);
    opacity: 0;
  }

  100% {
    transform: translatey(0);
    opacity: 1;
  }
}

.home-detail h1 {
  font-size: 5.6rem;
  font-weight: 700;
  margin: -3px 0;
  animation: slideright 1s ease forwards;
  opacity: 0;
  animation-delay: 1s;
}

@keyframes slideright {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.home-detail p {
  font-size: 1.6rem;
  opacity: 0;
  animation: SlideLeft 1s ease forwards;
  animation-delay: 1s;
}

@keyframes SlideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.social-media a {
  display: inline-flex;
  height: 4.6rem;
  width: 4.6rem;
  font-size: 3.6rem;
  border-radius: 50%;
  color: #ef6e12;
  border: 2px solid #ef6e12;
  background: transparent;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 3rem 3rem 3rem 0;
  transition: 0.5 ease;
  animation: Slidetop 0.7s ease forwards;
  animation-delay: 2s;
  opacity: 0;
}

@keyframes Slidetop {
  0% {
    transform: translatey(100%);
    opacity: 0;
  }

  100% {
    transform: translatey(0);
    opacity: 1;
  }
}

.social-media a:hover,
.social-media a.active {
  background: #ef6e12;
  color: #000;
  box-shadow: 0 0 20px #ef6e12;
  transition: all 0.6s ease-in-out;
}

.home-detail h3:nth-of-type(2) {
  margin-bottom: 20px;
}

span {
  color: #ef6e12;
}

.btn {
  display: inline-block;
  font-size: 1.6rem;
  padding: 1rem 2.8rem;
  border-radius: 40px;
  color: #000;
  background: #ef6e12;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
  border: none;
  outline: none;
  transition: 0.5 ease;
}

.btn:hover {
  background-color: #000;
  color: #ef6e12;
  border: 1px solid #ef6e12;
}

.home .home-img img {
  min-width: 250px;
  width: 30vw;
  animation: zoom 1s ease forwards, Float 4s ease-in-out infinite;
  animation-delay: 2s, 3s;
  opacity: 0;
  filter: drop-shadow( 6px 6px 2.5px rgba(87, 87, 87, 0.533));
}

@keyframes zoom {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes Float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-24px);
  }

  100% {
    transform: translateY(0);
  }
}

.about-img img {
  min-width: 250px;
  width: 35vw;
  scale: 1;
  filter: drop-shadow( 10px 10px 3px rgba(0, 0, 0, 0.841));
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
}

/* ########## HEADING ########### */

.allheading {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 300;
  opacity: 1;
}

.about-section h2 {
  text-align: left;
  line-height: 1.2;
}

.about-section h3 {
  font-size: 2.6rem;
}

.about-section p {
  font-size: 1.9rem;
  margin: 2rem 0 3rem;
  word-break: break-word;
  text-align: justify;
}

.skills {
  margin-top: 80px;
}

.skills-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  flex-wrap: wrap;
}

.skills-section .skills-box {
  flex: 1 1 30rem;
  padding: 3rem 2rem 3rem;
  border-radius: 2rem;
  background: linear-gradient(
    180deg,
    rgba(224, 143, 36, 0.362) 0%,
    rgba(80, 79, 79, 0.82) 35%,
    rgb(80, 79, 79, 0.82) 65%,
    rgb(16, 16, 16) 100%
  );
  text-align: center;
  border: 3px solid #000;
  transition: 0.5s ease;
  z-index: 3 !important;
}

.skills-box:hover {
  border: 2px solid #ef6e12;
  transform: scale(1.2) !important;
  transition: 0.5s !important;
  z-index: 5 !important;
  transition-delay: 1s;
}

.skills h2 {
  margin-bottom: 5rem;
}

.skills-box i {
  font-size: 70px;
  color: #ef6e12;
  text-shadow: 6px 2px 0.8px rgb(0, 0, 0);
}

.skills h3 {
  font-size: 2.6rem;
  text-shadow: 0px 4px 0.8px #000000;
}

.skills-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

.skills-box ul {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin-top: -18px;
  margin-bottom: -15px;
  text-align: left;
}

.skills-box li {
  display: block;
  list-style: none;
  font-size: 2.1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  justify-content: center;
  text-shadow: 0px 4.5px 0.8px #000000;
}

.portfolio {
  background: #111;
  margin-top: 80px;
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolio-box {
  align-items: center;
  position: relative;
  border-radius: 2.5rem;
  box-shadow: 0 0 1rem #000000;
  overflow: hidden;
  display: flex;
}

.portfolio-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 2.5rem;
}

.portfolio-box img {
  position: relative;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0.5;
  scale: 1.5;
  overflow: hidden;
}

.portfolio-box h1 {
  text-align: center;
  z-index: 5;
  position: relative;
  left: 42%;
  font-size: 75px;
  /* opacity: 0.85; */
  background: linear-gradient(to bottom, #ef6e12 0%, #ccc9c7 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.portfolio-box:hover h1 {
  opacity: 0;
  transition: all 0.5s ease;
}

.portfolio-head {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), #ef6e12);
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box:hover::before img {
  transform: scale(1.1);
}

.portfolio-box:hover .portfolio-head {
  transform: translateY(0%);
}

.portfolio-box .portfolio-head h4 {
  font-size: 3rem;
}

.portfolio-head p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.portfolio-head a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 12px;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 2.5px solid #000;
  text-decoration: none;
}

.portfolio-head i {
  font-size: 2.6rem;
  font-weight: 900;
  color: #111;
}

.footer {
  background: #111;
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
  align-items: center;
  flex-direction: wrap;
  padding: 2rem 9%;
  border-top: 2px solid orange;
}

.footer .text p {
  display: flex;
  text-align: center;
  font-size: 1.6rem;
  flex-wrap: wrap;
}

.footer p span {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.footerup a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #ef6e12;
  padding: 0.8rem;
  text-decoration: none;
  border-radius: 50%;
}

.footerup i {
  font-size: 2.4rem;
  color: #111;
  text-align: center;
}

/* ################################################### MEDIA QUERY ###################################################################### */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .about-img img{
    margin-right: 40px;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  .skills {
    margin-bottom: 7rem;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .footer {
    padding: 2rem 3%;
  }

  .portfolio {
    margin-bottom: 7rem;
  }

  /* .about-img img{
    margin-right: 40px;
  } */
}

@media (min-width: 991px) {
  .about-img img{
    margin-right: 40px;
  }
}


@media (max-width: 768px) {
  #menu {
    display: block;
  }

  .navbar {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding: 1rem 3%;
    background: #000;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.1);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home {
    margin-top: 50px;
    gap: 40px;
    flex-direction: column-reverse;
  }


  .home-detail h1 {
    font-size: 5rem;
  }

  .home-detail h3 {
    font-size: 2.6rem;
  }

  .home-detail h4 {
    font-size: 5rem;
  }


  .about {
    flex-direction: column;
  }


  .skills-section .skills-box {
    border: 0.7px solid #ef6e12;
    box-shadow: 0rem 0.5rem 0.5rem #58473baf;
  }

  .skills-box:hover {
    transform: none !important;
  }

  .portfolio h2 {
    margin-bottom: 3rem;
  }

  .portfolio .portfolio-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 617px) {
  .portfolio .portfolio-section {
    grid-template-columns: repeat(1, 1fr);
  }


}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .social-media {
    text-align: center;
  }
}

@media (max-width: 365px) {
  html {
    font-size: 50%;
  }

  .about-img img{
    margin-right: 0px;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footerup a {
    margin-bottom: 10px;
  }

  .social-media {
    text-align: center;
  }
}

@media (orientation: portrait) {
  .skills-section .skills-box {
    margin-left: 8vw;
    margin-right: 8vw;
    border: rgba(221, 126, 36, 0.158) solid 0.75px;
    box-shadow: rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset,
      rgba(255, 255, 255, 0.15) 0px -36px 30px 0px inset,
      rgba(255, 255, 255, 0.1) 0px -79px 40px 0px inset,
      rgba(255, 255, 255, 0.319) 0px 2px 1px,
      rgba(255, 255, 255, 0.279) 0px 4px 2px;
  }

  .skills-box:hover {
    transform: none;
  }

  .social-media {
    text-align: center;
    margin-top: 2.5rem;
  }

  .portfolio-box {
    margin-left: 0.6vw;
    margin-right: 0.6vw;
  }

  .about-img img{
    margin-right: 0px;
  }

}


@media (pointer: coarse) {
  .skills-box:hover {
    transform: none;
  }

  .social-media {
    text-align: center;
    margin-top: 2.5rem;
  }
}
